:root {
    --bg-color: #0066ff;
    --bg-color-theme-btn: rgb(0 26 52 / 15%);
    --text-color: #fff;
    --dark-text-color: #001a34;
    --bg-white:#fff;
    --footer: #001a34
}

[data-theme="dark"] {
    --bg-color: #001a34;
    --text-color: #ffffff;
    --bg-color-theme-btn: #0026c7;
}